lints = { workspace = true }

[package]
name = "tree"
version = "0.1.1"
edition.workspace = true
authors.workspace = true
license.workspace = true

[package.metadata.cargo-each]
combinations = [
    { tags = ["ci", "@agnostic"], include-rest = true },
]

[features]
testing = []

[dependencies]
serde = { workspace = true, features = ["std", "derive"] }

[dev-dependencies]
sdk = { workspace = true }
