**/.*/
!.cargo/
!.git/
target/
**/*.md
**/*Containerfile
**/.*ignore
**/LICENSE
**/clippy.toml
**/rustfmt.toml
/artifacts/
/build.sh
/build-configuration/
/ci/
/docs/
/lint.sh
/scripts/common/
/scripts/deploy-*.sh
/scripts/export-*.sh
/tests/
