# Build descriptors
/build-configuration

# Build results
**/target
/artifacts

# Rust Toolchain files
**/rust-toolchain
**/rust-toolchain.toml

# Cargo configuration
**/.cargo
!/.cargo/

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

# IDEs
*.iml
.idea
.vscode

# Deploying process
setup-dev-network.zip
nolus.tar.gz
build-binary.zip
accounts
nolusd
contracts-schemas
target.tar.gz
