# Build results
/target
artifacts

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

# IDEs
*.iml
.idea
**/schema

# Deploying process
artifacts.zip
nolus.tar.gz
binary.zip
accounts
nolusd
contracts-results
target.tar.gz
contracts.tar.gz