[package]
name = "versioning"
version = "0.2.0"
edition.workspace = true
authors.workspace = true
license.workspace = true

[package.metadata.cargo-each]
combinations = [
    { tags = ["ci", "@agnostic"], include-rest = true },
]

[features]
schema = ["sdk/schema"]

[dependencies]
sdk = { workspace = true, features = ["cosmos", "schema", "storage"] }

serde = { workspace = true, features = ["derive"] }
