lints = { workspace = true }

[package]
name = "versioning"
version = "0.2.2"
edition.workspace = true
authors.workspace = true
license.workspace = true
rust-version.workspace = true

[package.metadata.cargo-each]
combinations = [
    { tags = ["ci", "@agnostic"], include-rest = true },
]

[features]
protocol_contract = []
testing = []

[dependencies]
sdk = { workspace = true, features = ["storage"] }

thiserror = { workspace = true }
serde = { workspace = true, features = ["derive"] }
