lints = { workspace = true }

[package]
name = "profit"
version = "0.7.1"
edition.workspace = true
authors.workspace = true
license.workspace = true

[package.metadata.cargo-each]
combinations = [
    { tags = ["build", "$dex"], always-on = ["contract", "$dex"], include-rest = false, generics = { "$dex" = ["dex-astroport_main", "dex-astroport_test", "dex-osmosis"] } },
    { tags = ["ci", "@agnostic"], feature-groups = ["stub", "testing"], include-rest = false },
    { tags = ["ci", "@agnostic"], always-on = ["dex-test_impl"], feature-groups = ["contract"], include-rest = false },
]
feature-groups = { contract = { members = ["contract", "contract_testing", "internal.test.contract"], at-least-one = true, mutually-exclusive = true }, stub = { members = ["stub", "stub_testing", "internal.test.stub"], at-least-one = false, mutually-exclusive = true }, testing = { members = ["testing", "internal.test.testing"], at-least-one = false, mutually-exclusive = true } }

[lib]
crate-type = ["cdylib", "rlib"]

[features]
dex-astroport_main = ["swap/dex-astroport_main"]
dex-astroport_test = ["swap/dex-astroport_test"]
dex-osmosis = ["swap/dex-osmosis"]
dex-test_impl = ["swap/dex-test_impl"]

contract = [
    "dep:access-control",
    "dep:cosmwasm-std",
    "dep:currencies",
    "dep:currency",
    "dex/impl",
    "dep:finance",
    "dep:oracle",
    "dep:oracle-platform",
    "dep:platform",
    "dep:timealarms",
    "dep:thiserror",
    "dep:versioning",
]
contract_testing = [
    "contract",
]
"internal.test.contract" = [
    "contract_testing",
    "currencies/testing",
    "dex/testing",
    "oracle-platform/testing",
    "sdk/contract",
    "timealarms/testing",
]
stub = [
    "dep:platform",
    "dep:thiserror",
]
stub_testing = [
    "stub",
]
"internal.test.stub" = [
    "stub_testing",
]
testing = [
]
"internal.test.testing" = [
    "testing",
    "dep:platform",
    "platform/testing",
    "dep:versioning",
]

[dependencies]
access-control = { workspace = true, optional = true }
currencies = { workspace = true, optional = true }
currency = { workspace = true, optional = true }
dex = { workspace = true }
finance = { workspace = true, optional = true }
oracle = { workspace = true, optional = true }
oracle-platform = { workspace = true, optional = true }
platform = { workspace = true, optional = true }
sdk = { workspace = true }
swap = { workspace = true, optional = true }
timealarms = { workspace = true, optional = true, features = ["stub"] }
versioning = { workspace = true, optional = true, features = ["protocol_contract"] }

# Required as a dependency by `entry_point` attribute macro
cosmwasm-std = { workspace = true, optional = true }

thiserror = { workspace = true, optional = true }
serde = { workspace = true, features = ["derive"] }
