lints = { workspace = true }

[package]
name = "currencies"
version = "0.1.1"
edition.workspace = true
authors.workspace = true
license.workspace = true
rust-version.workspace = true

build = "build/main.rs"

[package.metadata.cargo-each]
combinations = [
    { tags = ["ci", "@agnostic"], include-rest = true },
]

[lib]
doctest = false

[features]
testing = []

[dependencies]
currency = { workspace = true }

thiserror = { workspace = true }
serde = { workspace = true, features = ["derive"] }

[dev-dependencies]
currency = { workspace = true, features = ["testing"] }

[build-dependencies]
topology = { workspace = true }

anyhow = { workspace = true }
either = { workspace = true, features = ["use_std"] }
serde = { workspace = true }
serde_json = { workspace = true }
