lints = { workspace = true }

[package]
name = "dex"
version = "0.2.2"
edition.workspace = true
authors.workspace = true
license.workspace = true
rust-version.workspace = true

[package.metadata.cargo-each]
combinations = [{ tags = ["ci", "@agnostic"], feature-groups = ["impl-or-testing"], include-rest = false }]
feature-groups = { impl-or-testing = { members = ["impl","testing",], at-least-one = false, mutually-exclusive = true }}


[features]
impl = [
    "dep:access-control",
    "dep:oracle-platform",
    "oracle/stub_price",
    "dep:timealarms",
]
migration = []
testing = ["finance/testing"]

[dependencies]
access-control = { workspace = true, optional = true }
currency = { workspace = true }
finance = { workspace = true }
oracle = { workspace = true, features = ["stub_swap"] }
oracle-platform = { workspace = true, optional = true }
platform = { workspace = true }
timealarms = { workspace = true, optional = true, features = ["stub"] }
sdk = { workspace = true }

serde = { workspace = true, features = ["derive"] }
thiserror = { workspace = true }

[dev-dependencies]
currency = { workspace = true, features = ["testing"] }
finance = { workspace = true, features = ["testing"] }
oracle-platform = { workspace = true, features = ["testing"] }
platform = { workspace = true, features = ["testing"] }
