lints = { workspace = true }

[package]
name = "time-oracle"
version = "0.2.0"
edition.workspace = true
authors.workspace = true
license.workspace = true

[package.metadata.cargo-each]
combinations = [
    { tags = ["ci", "@agnostic"], include-rest = true },
]

[features]
migrate = []

[dependencies]
sdk = { workspace = true, features = ["storage"] }

thiserror = { workspace = true }
serde = { workspace = true, features = ["derive"] }
