lints = { workspace = true }

[package]
name = "marketprice"
version = "0.4.1"
edition.workspace = true
authors.workspace = true
license.workspace = true
rust-version.workspace = true

[package.metadata.cargo-each]
combinations = [
    { tags = ["ci", "@agnostic"], include-rest = true },
]

[features]
testing = []

[dependencies]
currency = { workspace = true }
finance = { workspace = true }
sdk = { workspace = true, features = ["storage"] }

gcd = {workspace = true}
thiserror = { workspace = true }
serde = { workspace = true, features = ["derive"] }

[dev-dependencies]
currency = { workspace = true, features = ["testing"] }
finance = { workspace = true, features = ["testing"] }
platform = { workspace = true, features = ["testing"] }
sdk = { workspace = true, features = ["testing"] }
